<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/QuorumAPI/src/Test/java/com/api/Test/GenerateToken.java">
        <classes><class name="com.api.test.GenerateToken">
            <methods><include name="AuthenticateUser"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>